body {
  background-color: #fff;
  font-family: sans-serif;
  color: #fff;
  background-color: rgb(152, 2, 2);
  text-align: center;
  margin: 20%;
}
h1 {
  font: 800;
}
button {
  width: 100px;
  height: 50px;
  border: none;
  color: brown;
  cursor: pointer;
  border-radius: 4px 4px 4px 4px;
  margin: 20px;
  transition: width 1s;
}

#eng:hover {
  width: 150px;
}
#hau:hover {
  width: 150px;
}
.pass {
  margin: 20%;
  text-align: center;
  color: black;
}

p > a {
  font: 3px;
}
